*{
	margin: 0;
	padding: 0
}
/*Reset css*/
body{
	background: #FBE5AF
}
.outer{
	width: 960px;
	height: 1000px;
	background: white;
	margin: 0 auto;
	border: 5px solid white;
}
.header{
	width: 960px;
	height: 85px;
	background: #FBE5AF;
	padding-top: 15px;
	text-align: center;
}
.header .logo{
	width: 180px;
	height: 70px;
	/*background: black*/
	float: left;
}
.header .menu{
	width: 770px;
	height: 70px;
	float: right;
	background: white;
	margin-right: 10px;
}
.header .menu ul{
	list-style: none;
	margin-top: 25px;
	margin-left: 125px;
}
.header .menu ul li{
	float: left;
	margin-left: 30px;
}
.header .menu ul li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.header .menu ul li a:hover{
	color: #B77B00
}
.intro{ 
	width: 960px;
	height: 150px;
	background: #FF8C8E;
	margin-top: 10px;
	text-align: center;
	padding-top: 40px;
	background-image: url("../img/vintage.jpg");
}
.intro .introtext{
	width: 800px;
	height: 70px;
	margin: auto;
	font-size: 12px;
	color: #4E451B;
}
.content{
	width: 950px;
	height: 450px;
	border: 4px double #4E451B;
	margin-top: 10px;
	float: left
}
.content .bsl{ 
	text-align: center;
	color: #734F1A;
	margin-top: 10px;
	margin-bottom: 15px
}
.box{
 	width: 300px;
 	height: 400px;
 	float: left;
	text-align: center;
	margin-left: 12px;
}
.box .price{
	font-size: 18px;
}
.footer{
	width: 960px;
	height: 220px;
	background: #D01114;
	margin-top: 480px;
	background-image: url("../img/vintage-wallpaper-6335-02-by-erismann-wallcoverings-70271-1-p[ekm]1000x601[ekm].jpg")
	
}
.footer .text1{
	margin-left: 125px;
	float: left;
	padding-top: 25px;
	font-size: 18px;
}
.footer .text1 ul {
list-style-type: none;	  
}
.footer .text1 ul li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.footer .text1 ul li a:hover{
	color: #FFFFFF
}
.footer .text2{
	margin-left: 150px;
	float: left;
	padding-top: 60px;
	font-size: 18px;
}